/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Fonts: app
*************************************** */
@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/vazir/Vazir-Thin.woff2');
}

@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/vazir/Vazir-Light.woff2');
}
@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/vazir/Vazir.woff2');
}
@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/vazir/Vazir-Medium.woff2');
}
@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/vazir/Vazir-Bold.woff2');
}

@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/vazir/Vazir-Black.woff2');
}

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
  font-family: 'vazir' !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
